



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Efreelearn</h3>
  <ul class="list-inline">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/exam">Exam </a></li>
    <li><a routerLink="/orgregistration">Registration </a></li>
    <li><a routerLink="/login">Login </a></li>
  </ul>
</div>
<router-outlet></router-outlet>

</body>
</html>
